$btn-colors: (
  primary: $btn-blue,
  warning: $btn-orange,
  success: $btn-green
);

@each $name, $color in $btn-colors {
  .btn-#{$name} {
    @if $name == warning {
      color: #000;
    }
    background-color: $color;
    border-color: $color;
    &:hover {
      background-color: darken($color, 6%);
      border-color: darken($color, 6%);
    }
  }
}